<div
  class='flex justify-center items-center flex-wrap h-full g-6 text-gray-800'
>
  <h2>{{name}}</h2>
  <p>{{meanings}}</p>
  <p>{{questiontoask}}</p>
  <p>{{img}}</p>
  {{!-- <p>Created by {{user.name}} on {{format_date date_created}}</p> --}}
  <p>
    <button class='btn btn-primary'>Save these Cards</button>
  </p>
</div>