<section class="container mt-8 mx-auto py-3">
    <ol class="border-l-2 border-purple-400 rounded">
    <li class="bg-gray-100 py-2 mb-6 rounded shadow-md">
        <div class="flex flex-start items-center">
        <div class="bg-purple-400 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"></div>
        <h4 class="text-gray-800 font-semibold text-xl -mt-2">{{Saved Journal Date}}</h4>
        </div>
        <div class="ml-6 mb-6 pb-6">
        <p class="text-gray-700 mt-2 mb-4">{{Saved Card 1}}, {{Saved Card 2}}, {{Saved Card 3}} ie. The Fool, The Moon, Seven of Cups</p>
        <p class="text-gray-700 mt-2 mb-4">{{Journal Entry}}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </li>
    <li class="bg-gray-100 py-2 mb-6 rounded shadow-md">
        <div class="flex flex-start items-center">
        <div class="bg-purple-400 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"></div>
        <h4 class="text-gray-800 font-semibold text-xl -mt-2">{{Saved Journal Date}}</h4>
        </div>
        <div class="ml-6 mb-6 pb-6">
        <p class="text-gray-700 mt-2 mb-4">{{Saved Card 1}}, {{Saved Card 2}}, {{Saved Card 3}} ie. The Fool, The Moon, Seven of Cups</p>
        <p class="text-gray-700 mt-2 mb-4">{{Journal Entry}}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </li>
    </ol>
{{!-- Change as needed --}}
<script src="/journal.js"></script>
</section>